<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Goodwords</title>
    <link rel="stylesheet" href="index.css">
  </head>
  <body>
    <input id="wordbox" type="text" placeholder="Word plz">
    <button>Submit</button>
    <div class="definitions"></div>
    <script src="index.js"></script>
  </body>
</html>
